body {
    background-color: #bbbcde;
}

#container {
    width: 800px;
    margin: auto;
    background-color: #bce2e8;
}

header {
    padding: 40px;
    height: 80px;
    color: #bbbcde;
}

nav {
    padding: 30px 40px;
    background-color: #7ebeab;
    font-size: 20px;
    color: white;
}

#contents{
    padding: 40px;
    height : 300px;
    color: white;
}

footer {
    padding: 40px;
    height: 40px;
    background-color : #f5e56b;
    color: #7ebeab;
}
